@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CMUTypewriter';
  src: url('/fonts/CMUTypewriter-Regular.woff2') format('woff2'),
       url('/fonts/CMUTypewriter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  transform: scaleY(1.5);
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'CMUTypewriter', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: black; /* Ensures the body background is black */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.typewriter {
  /* color: #00FF46; */
  font-family: 'CMUTypewriter', monospace;
  white-space: nowrap;
  overflow: hidden;
  transform: scaleY(1.666);
  cursor: pointer;
  text-transform: uppercase;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.cursor {
  margin-top: -3px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 12px;
  animation: blink 1s infinite; /* Ensure infinite blinking */
}


.typewriter-container-top {
  position: absolute;
  top: 16%;
  width: 100%;
  z-index: 10;
  text-align: center;
  align-items: center;
  vertical-align: middle;
}

.typewriter-container-bottom {
  position: absolute;
  bottom: 16%;
  width: 100%;
  z-index: 10;
  text-align: center;
}